*{
    font-family: "LXGW WenKai";
    list-style: none !important;
}

span,small{
    font-family: Pacifico, "LXGW WenKai";
    transition: all 1.4s;
    color: rgb(76, 79, 105);
}

a:hover{
    transform: scale(1.05);
}

a{
    text-decoration: none;
    transition: all 1.2s;
}

ol{
    list-style: none;
}

.app-name-link{
    font-family: Pacifico;
}


#search-input {
    border-radius: 10px;
    background-color: #eff1f5;
    width: 100%;
    block-size: 50px;
    border: none;
    border-left: 8px solid #00000000;
    outline: none;
}